/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #555555;
}

a {
  text-decoration: none;
  color: #ffb748;
}

a:hover {
  color: #fb8122;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

input {
  border: 0!important;
}

input::placeholder {
  color: #e1e2e2!important;
}

textarea {
  border: 0!important;
}
textarea::placeholder {
  color: #e1e2e2!important;
}

/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*--------------------------------------------------------------
# Cookie banner
--------------------------------------------------------------*/
.cookie-card {
  display:none!important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  flex-direction: column;
  background-color: #1d2228;
  background-clip: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  z-index: 1000;
}

.cookies h5 {
  font-size: 20px;
  font-weight: 700;
  color: #e1e2e2;
  margin-bottom: 15px;

}
.cookies span {
  color: white
}

.cookies a {
  text-decoration: none;
  color: #ffb748;
  margin-top: 8px;
}

.cookies a:hover {
  text-decoration: none;
  color: #fb8122;
  margin-top: 8px;
}

.cookie-trigger {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1001;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffb748;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #fb8122;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #1d2228;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    height: 70px;
  }
}

.scrolled-offset {
  margin-top: 90px;
}

@media (max-width: 992px) {
  .scrolled-offset {
    margin-top: 90px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #e1e2e2;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fb8122;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #171c20;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #fb8122;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1640px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #e1e2e2;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.fa-xmark {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #1d2228;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #e1e2e2;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #fb8122;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #171c20;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #fb8122;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.webp");
  position: relative;
}

#home .home-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#home .home-logo {
  margin-bottom: 30px;
}

#home h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
}

#home h2 {
  color: #aeaeae;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

#home .btn-invite {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  margin: 10px;
  color: #fff;
  background: #ffb748;
}

#home .btn-invite:hover {
  transition: 0.5s;
  background: #fff;
  color: #ffb748;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #home h2 {
    line-height: 22px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  background: #2c3137;
}

section:not(.no-section-after):after {
  content: "";
  display: block;
  width: 15%;
  height: 3px;
  border-radius: 70px;
  background: #a0aecd;
  margin: 30px auto;
}


.section-bg {
  background-color: whitesmoke;
}

.section-title {
  text-align: center;
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #e1e2e2;
}

.section-title p {
  margin-bottom: 0;
  color: #e1e2e2;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .image {
  padding: 20px;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
  color: #fff;
}

.about .content ul {
  list-style: none;
  padding: 0;
  color: #fff;
}

.about .content ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.about .content ul i {
  font-size: 24px;
  padding: 2px 6px 0 0;
  color: #7cc576;
}

.about .content p {
  color: #fff;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Advantages
--------------------------------------------------------------*/
.advantages .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: #e1e2e2;
}

.advantages .icon-box i {
  font-size: 48px;
  float: left;
  color: #fb8122;
}

.advantages .icon-box p {
  font-size: 15px;
  color: #959595;
  margin-left: 60px;
}

.advantages .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding: 40px 0 0 0;
}

.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  border: 0;
  padding: 20px;
  color: #fff;
  transition: 0.3s;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.features .nav-link:hover h4 {
  color: #fb8122;
}

.features .nav-link p {
  font-size: 14px;
  margin-bottom: 0;
}

.features .nav-link.active {
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.08);
  background: #171c20;
  color: #fff;
}

.features .nav-link.active h4 {
  color: #fb8122;
}

.features .tab-pane.active {
  animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin: 15px 0 5px 0;
  font-size: 18px;
  color: #e1e2e2;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #fb8122;
}

.team .member:hover .social {
  bottom: 0;
  opacity: 1;
  transition: bottom ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a:not(.faq-answer-link) {
  display: block;
  position: relative;
  font-family: #7cc576;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: #e1e2e2;
}

.faq .faq-list .icon-show {
  display: none;
}


.faq .faq-list a.collapsed {
  color: #e1e2e2;
}

.faq .faq-list a.collapsed:hover {
  color: #fb8122;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  height: 100%;
  background: #1d2228;
  padding: 20px;
  border-radius: 5px;
}

.contact .info i {
  font-size: 20px;
  color: black;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffb748;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .contact-form {
  width: 100%;
  background: #1d2228;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
}

.contact .contact-form .form-group {
  padding-bottom: 8px;
}

.contact .contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .contact-form .error-message br+br {
  margin-top: 25px;
}

.contact .contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .contact-form .loading-message {
  display: none;
  color: #fff;
  background: #4d4d4d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .contact-form input,
.contact .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .contact-form input {
  height: 44px;
}

.contact .contact-form textarea {
  padding: 10px 12px;
}

.contact .contact-form button[type=submit] {
  background: #ffb748;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .contact-form button[type=submit]:hover {
  background: #fb8122;
}

.contact .contact-form .customer-nr {
  display:none;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 40px 0;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
  color: #e1e2e2;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #e1e2e2;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #e1e2e2;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("../img/banner_background_1920x1078.webp") center center no-repeat;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top .footer-logo img {
  height: 80px;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 30px 0 0 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 17px;
  display: inline-block;
  background: #ffb748;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 15%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #fb8122;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
}

/*--------------------------------------------------------------
# Commands page
--------------------------------------------------------------*/
/* Categories container */
.categories-container {
  .title {
    font-size: 22px;
    font-weight: 700;
    color: #e1e2e2;
    margin-bottom: 15px;
  }
  .category {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    font-size: 18px;
    font-weight: 600;
    color: #e1e2e2;
    margin-bottom: 15px;
    &:hover {
      background-color: #fb8122!important;
      cursor: pointer;
    }
    &.active {
      background-color: #fb8122!important;
    }
  }
}

/* Commands container */
.commands-container {
  max-height: 465px;
  overflow-y: auto;
  .command {
    .title {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 6px;
        height: 100%;
        border-radius: 10px 0 0 10px;
        background: #fb8122;
      }
    }
    .title:hover {
      background-color: #333941!important;
      cursor: pointer;
    }
    .body {
      display: none;
      & h4 {
        font-size: 18px;
        font-weight: 700;
        color: #e1e2e2;
        margin-bottom: 15px;
      }
    }
  }
}

/*--------------------------------------------------------------
# Terms page
--------------------------------------------------------------*/
.terms h3 {
  font-weight: 700;
  margin-top: 30px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #fb8122;
  text-decoration-thickness: 3px;
  color: #e1e2e2;
}

.terms p {
    color: white;
}

/*--------------------------------------------------------------
# Bot privacy page
--------------------------------------------------------------*/
.bot-privacy h3 {
  font-weight: 700;
  margin-top: 30px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #fb8122;
  text-decoration-thickness: 3px;
  color: #e1e2e2;
}
.bot-privacy h5 {
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #9daaf2;
  text-decoration-thickness: 3px;
  color: #e1e2e2;
}


.bot-privacy p {
  color: white;
}

/*--------------------------------------------------------------
# Imprint page
--------------------------------------------------------------*/
.imprint h4 {
  font-weight: 700;
  margin-top: 30px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #fb8122;
  text-decoration-thickness: 3px;
  color: #e1e2e2;
}

.imprint p {
  color: white;
}

/*--------------------------------------------------------------
# Privacy page
--------------------------------------------------------------*/
.privacy h4 {
  font-weight: 700;
  margin-top: 30px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #fb8122;
  text-decoration-thickness: 3px;
  color: #e1e2e2;
}
.privacy h5 {
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #9daaf2;
  text-decoration-thickness: 3px;
  color: #e1e2e2;
}

.privacy p {
  color: white;
}

.privacy li {
  color: white;
}

/*--------------------------------------------------------------
# Leaderboard page
--------------------------------------------------------------*/

.leaderboard-container {
  max-height: 500px;
  overflow-y: auto;
}
.guild-icon {
  width: 5%;
  height: 5%;
  border-radius: 50%;
}

.leaderboard-item {
  background-color: #1d2228;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.rank-container {
  width: 5%;
}

.rank-container .rank-text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: rgb(153, 170, 181);
}

.rank-container .rank-number {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
}

.rank-container .rank-1 {
  color: rgb(218, 165, 32);
}

.rank-container .rank-2 {
  color: rgb(216, 216, 216);
}

.rank-container .rank-3 {
  color: rgb(205, 127, 50);
}

.avatar-container {
  width: 5%;
}

.avatar-container .avatar {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-right: 10px;
}

.username-container {
  width: 70%;
}

.username-container div {
  color: white;
  font-weight: 510;
  font-family: "Montserrat", sans-serif;
}

.level-container {
  width: 10%;
}

.level-container .level-text {
  color: rgb(153, 170, 181);
  text-align: center;
  text-transform: uppercase;
  font-weight: 530;
  font-family: "Montserrat", sans-serif;
}

.level-container .level-number {
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.xp-container {
  width: 10%;
}

.xp-container .xp-text {
  color: rgb(153, 170, 181);
  text-align: center;
  text-transform: uppercase;
  font-weight: 530;
  font-family: "Montserrat", sans-serif;
}

.xp-container .xp-number {
  text-align: center;
  color: rgb(246, 120, 82);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 768px) {
  .leaderboard-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .rank-container,
  .avatar-container,
  .username-container,
  .level-container,
  .xp-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .guild-icon {
    width: 20%;
    height: 20%;
    border-radius: 50%;
  }

  .avatar-container .avatar {
    height: 35%;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

  }

  .username-container div {
    text-align: center;
  }
}