.cookie-trigger
    img(src='img/cookie.webp', width='30', alt='Cookie Icon')
.d-flex
    .d-flex.align-items-center.cookie-card.p-3.text-center.cookies
        img(src='img/cookie.webp', width='50')
        h5.mt-3 Nutzung von Cookies: Wir benötigen Ihre Einwilligung
        span.mt-2 Wir verwenden auf dieser Webseite Cookies. Einige sind für den Betrieb der Seite notwendig, andere dienen Statistikzwecken.
        span Ihre Einwilligung können Sie jederzeit widerrufen.
        a.d-flex.align-items-center(href='/privacy')
            | Mehr erfahren
            i.fa.fa-angle-right.ml-2
        .button-group(role="group")
            button.cookie-decline-btn.btn.btn-danger.mt-3.px-4.mx-2(type='button') Ablehnen
            button.cookie-accept-btn.btn.btn-success.mt-3.px-4.mx-2(type='button') Akzeptieren