doctype html
html(lang='de')
    include ../templates/head
    body
        include ../templates/header
        main#main
            // ======= Breadcrumbs =======
            section.no-section-after.breadcrumbs
                .container
                    .d-flex.justify-content-between.align-items-center
                        h2 Fehler 403
                        ol
                            li
                                a(href='/') Home
                            li Fehler 403
            section.contact.inner-page.no-section-after
                .container
                    .section-title
                        h2 Fehler 403
                        p Du hast keine Berechtigung, diese Seite aufzurufen
        // ======= Footer =======
        include ../templates/footer