include ./templates/head
body
    include ./templates/header
    section#home.hero-section
        .container
            .row.align-items-center.position-relative
                .col-lg-6
                    .hero-content
                        h1.wow.fadeInUp(data-wow-delay='.4s' style='font-family: All Round Gothic Medium;')
                            | Effizienz weitergedacht
                        p.wow.fadeInUp(data-wow-delay='.6s')
                            | Mit #{name} bieten wir einen modernen Discord-Bot zur Moderierung und Verwaltung deines Discord-Servers
                        a.main-btn.border-btn.btn-hover.wow.fadeInUp(href='/invite', data-wow-delay='.6s') Einladen
                        a.scroll-bottom(href='#features')
                            i.lni.lni-arrow-down
                .col-lg-6
                    .hero-img.wow.fadeInUp(data-wow-delay='.5s')
                        img(src='img/logo/logo_transparent.webp', alt='' style='width:833px;height:614px;')
    // ======== hero-section end ========
    // ======== feature-section start ========
    section#features.feature-section.pt-120
        .container
            .row.justify-content-center
                .col-lg-4.col-md-8.col-sm-10
                    .single-feature
                        .icon
                            i.lni.lni-bootstrap
                        .content
                            h3 Bootstrap 5
                            p
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                | diam nonumy eirmod tempor invidunt ut labore
                .col-lg-4.col-md-8.col-sm-10
                    .single-feature
                        .icon
                            i.lni.lni-layout
                        .content
                            h3 Clean Design
                            p
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                | diam nonumy eirmod tempor invidunt ut labore
                .col-lg-4.col-md-8.col-sm-10
                    .single-feature
                        .icon
                            i.lni.lni-coffee-cup
                        .content
                            h3 Easy to Use
                            p
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                | diam nonumy eirmod tempor invidunt ut labore
    // ======== feature-section end ========
    // ======== about-section start ========
    section#about.about-section.pt-150
        .container
            .row.align-items-center
                .col-xl-6.col-lg-6
                    .about-img
                        img.w-100(src='img/about/about-1.png', alt='')
                        img.shape.shape-1(src='img/about/about-left-shape.svg', alt='')
                        img.shape.shape-2(src='img/about/left-dots.svg', alt='')
                .col-xl-6.col-lg-6
                    .about-content
                        .section-title.mb-30
                            h2.mb-25.wow.fadeInUp(data-wow-delay='.2s')
                                | Perfect Solution Thriving Online Business
                            p.wow.fadeInUp(data-wow-delay='.4s')
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                | dinonumy eirmod tempor invidunt ut labore et dolore magna
                                | aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                | justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                | sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet.
                        a.main-btn.btn-hover.border-btn.wow.fadeInUp(href='javascript:void(0)', data-wow-delay='.6s') Discover More
    // ======== about-section end ========
    // ======== about2-section start ========
    section#about.about-section.pt-150
        .container
            .row.align-items-center
                .col-xl-6.col-lg-6
                    .about-content
                        .section-title.mb-30
                            h2.mb-25.wow.fadeInUp(data-wow-delay='.2s')
                                | Easy to Use with Tons of Awesome Features
                            p.wow.fadeInUp(data-wow-delay='.4s')
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                | diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                | aliquyam erat, sed diam voluptua.
                        ul
                            li Quick Access
                            li Easily to Manage
                            li 24/7 Support
                        a.main-btn.btn-hover.border-btn.wow.fadeInUp(href='javascript:void(0)', data-wow-delay='.6s') Learn More
                .col-xl-6.col-lg-6.order-first.order-lg-last
                    .about-img-2
                        img.w-100(src='img/about/about-2.png', alt='')
                        img.shape.shape-1(src='img/about/about-right-shape.svg', alt='')
                        img.shape.shape-2(src='img/about/right-dots.svg', alt='')
    // ======== about2-section end ========
    // ======== feature-section start ========
    section#why.feature-extended-section.pt-100
        .feature-extended-wrapper
            .container
                .row.justify-content-center
                    .col-xxl-5.col-xl-6.col-lg-8.col-md-9
                        .section-title.text-center.mb-60
                            h2.mb-25.wow.fadeInUp(data-wow-delay='.2s')
                                | Why Choose SaaSpal
                            p.wow.fadeInUp(data-wow-delay='.4s')
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                | diam nonumy eirmod tempor invidunt ut labore et dolore
                .row
                    .col-lg-4.col-md-6
                        .single-feature-extended
                            .icon
                                i.lni.lni-display
                            .content
                                h3 SaaS Focused
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    | diam nonumy eirmod tempor invidunt ut labore
                    .col-lg-4.col-md-6
                        .single-feature-extended
                            .icon
                                i.lni.lni-leaf
                            .content
                                h3 Awesome Design
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    | diam nonumy eirmod tempor invidunt ut labore
                    .col-lg-4.col-md-6
                        .single-feature-extended
                            .icon
                                i.lni.lni-grid-alt
                            .content
                                h3 Ready to Use
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    | diam nonumy eirmod tempor invidunt ut labore
                    .col-lg-4.col-md-6
                        .single-feature-extended
                            .icon
                                i.lni.lni-javascript
                            .content
                                h3 Vanilla JS
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    | diam nonumy eirmod tempor invidunt ut labore
                    .col-lg-4.col-md-6
                        .single-feature-extended
                            .icon
                                i.lni.lni-layers
                            .content
                                h3 Essential Sections
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    | diam nonumy eirmod tempor invidunt ut labore
                    .col-lg-4.col-md-6
                        .single-feature-extended
                            .icon
                                i.lni.lni-rocket
                            .content
                                h3 Highly Optimized
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    | diam nonumy eirmod tempor invidunt ut labore
    // ======== feature-section end ========
    // ======== pricing-section end ========
    section#pricing.pricing-section.pt-120.pb-120
        .container
            .row.justify-content-center
                .col-xxl-5.col-xl-6.col-lg-8.col-md-9
                    .section-title.text-center.mb-35
                        h2.mb-25.wow.fadeInUp(data-wow-delay='.2s')
                            | Choose a Plan
                        p.wow.fadeInUp(data-wow-delay='.4s')
                            | Lorem ipsum dolor sit amet consetetur sadipscing elitr sswed
                            | diam nonumy eirmod tempor nvidunt.
            .pricing-nav-wrapper.mb-60
                ul#pills-tab.nav.nav-pills(role='tablist')
                    li(role='presentation')
                        a#pills-month-tab.active(data-bs-toggle='pill', href='#pills-month', role='tab', aria-controls='pills-month', aria-selected='true') Monthly
                    li(role='presentation')
                        a#pills-year-tab(data-bs-toggle='pill', href='#pills-year', role='tab', aria-controls='pills-year', aria-selected='false') Yearly
            #pills-tabContent.tab-content
                #pills-month.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-month-tab')
                    .row.justify-content-center
                        .col-lg-4.col-md-8.col-sm-10
                            .single-pricing
                                .pricing-header
                                    h1.price $36
                                    h3.package-name Basic Account
                                .content
                                    ul
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited Acces
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Single User
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited
                                            Storage
                                        li
                                            i.lni.lni-close
                                            |  24/7 Support
                                        li
                                            i.lni.lni-close
                                            |  Free Future Updates
                                .pricing-btn
                                    a.main-btn.btn-hover.border-btn(href='javascript:void(0)') Get Start
                        .col-lg-4.col-md-8.col-sm-10
                            .single-pricing
                                .pricing-header
                                    h1.price $56
                                    h3.package-name Standard Account
                                .content
                                    ul
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited Acces
                                        li
                                            i.lni.lni-checkmark.active
                                            |  20+ Users
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited
                                            Storage
                                        li
                                            i.lni.lni-checkmark.active
                                            |  24/7 Support
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Free Future
                                            Updates
                                .pricing-btn
                                    a.main-btn.btn-hover(href='javascript:void(0)') Get Start
                        .col-lg-4.col-md-8.col-sm-10
                            .single-pricing
                                .pricing-header
                                    h1.price $89
                                    h3.package-name Premium Account
                                .content
                                    ul
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited Acces
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited Users
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited
                                            Storage
                                        li
                                            i.lni.lni-checkmark.active
                                            |  24/7 Support
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Free Future
                                            Updates
                                .pricing-btn
                                    a.main-btn.btn-hover.border-btn(href='javascript:void(0)') Get Start
                #pills-year.tab-pane.fade(role='tabpanel', aria-labelledby='pills-year-tab')
                    .row.justify-content-center
                        .col-lg-4.col-md-8.col-sm-10
                            .single-pricing
                                .pricing-header
                                    h1.price $136
                                    h3.package-name Basic Account
                                .content
                                    ul
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited Acces
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Single User
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited
                                            Storage
                                        li
                                            i.lni.lni-close
                                            |  24/7 Support
                                        li
                                            i.lni.lni-close
                                            |  Free Future Updates
                                .pricing-btn
                                    a.main-btn.btn-hover.border-btn(href='javascript:void(0)') Get Start
                        .col-lg-4.col-md-8.col-sm-10
                            .single-pricing
                                .pricing-header
                                    h1.price $156
                                    h3.package-name Standard Account
                                .content
                                    ul
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited Acces
                                        li
                                            i.lni.lni-checkmark.active
                                            |  20+ Users
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited
                                            Storage
                                        li
                                            i.lni.lni-checkmark.active
                                            |  24/7 Support
                                        li
                                            i.lni.lni-close
                                            |  Free Future Updates
                                .pricing-btn
                                    a.main-btn.btn-hover(href='javascript:void(0)') Get Start
                        .col-lg-4.col-md-8.col-sm-10
                            .single-pricing
                                .pricing-header
                                    h1.price $189
                                    h3.package-name Premium Account
                                .content
                                    ul
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited Acces
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited Users
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Unlimited
                                            Storage
                                        li
                                            i.lni.lni-checkmark.active
                                            |  24/7 Support
                                        li
                                            i.lni.lni-checkmark.active
                                            |  Free Future
                                            Updates
                                .pricing-btn
                                    a.main-btn.btn-hover.border-btn(href='javascript:void(0)') Get Start
    // ======== pricing-section end ========
    // ======== testimonial-section start ========
    section#testimonials.testimonial-section
        .container
            .section-title.text-center
                h2.mb-30 What our customers says
            .testimonial-active-wrapper
                .shapes
                    img.shape.shape-1(src='img/testimonial/testimonial-shape.svg', alt='')
                    img.shape.shape-2(src='img/testimonial/testimonial-dots.svg', alt='')
                .testimonial-active
                    // single testimonial
                    .single-testimonial
                        .row
                            .col-xl-5.col-lg-5
                                .testimonial-img
                                    img(src='img/testimonial/testimonial-1.png', alt='')
                                    .quote
                                        i.lni.lni-quotation
                            .col-xl-6.offset-xl-1.col-lg-6.offset-lg-1
                                .content-wrapper
                                    .content
                                        p
                                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            | sed dinonumy eirmod tempor invidunt ut labore et dolore
                                            | magna aliquyam erat, sed diam voluptua. At vero eos et
                                            | accusam et justo duo dolores et ea rebum. Stet clita
                                            | kasd gubergren, no sea takimata sanctus est Lorem.
                                    .info
                                        h4 Jonathon Smith
                                        p Developer and Youtuber
                    // single testimonial
                    .single-testimonial
                        .row
                            .col-xl-5
                                .testimonial-img
                                    img(src='img/testimonial/testimonial-2.png', alt='')
                                    .quote
                                        i.lni.lni-quotation
                            .col-xl-6.offset-xl-1
                                .content-wrapper
                                    .content
                                        p
                                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            | sed dinonumy eirmod tempor invidunt ut labore et dolore
                                            | magna aliquyam erat, sed diam voluptua. At vero eos et
                                            | accusam et justo duo dolores et ea rebum. Stet clita
                                            | kasd gubergren, no sea takimata sanctus est Lorem.
                                    .info
                                        h4 Gray Simon
                                        p UIX Designer and Developer
                    // single testimonial
                    .single-testimonial
                        .row
                            .col-xl-5
                                .testimonial-img
                                    img(src='img/testimonial/testimonial-3.png', alt='')
                                    .quote
                                        i.lni.lni-quotation
                            .col-xl-6.offset-xl-1
                                .content-wrapper
                                    .content
                                        p
                                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            | sed dinonumy eirmod tempor invidunt ut labore et dolore
                                            | magna aliquyam erat, sed diam voluptua. At vero eos et
                                            | accusam et justo duo dolores et ea rebum. Stet clita
                                            | kasd gubergren, no sea takimata sanctus est Lorem.
                                    .info
                                        h4 Michel Smith
                                        p Traveler and Vloger
    // ======== testimonial-section end ========
    // ======== subscribe-section start ========
    section#contact.subscribe-section.pt-120
        .container
            .subscribe-wrapper.img-bg
                .row.align-items-center
                    .col-xl-6.col-lg-7
                        .section-title.mb-15
                            h2.text-white.mb-25 Subscribe Our Newsletter
                            p.text-white.pr-5
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                | diam nonumy eirmod tempor
                    .col-xl-6.col-lg-5
                        form.subscribe-form(action='#')
                            input#subs-email(type='email', name='subs-email', placeholder='Your Email')
                            button.main-btn.btn-hover(type='submit')
                                | Subscribe
    // ======== subscribe-section end ========
    // ======== footer start ========
    footer.footer
        .container
            .widget-wrapper
                .row
                    .col-xl-4.col-lg-4.col-md-6
                        .footer-widget
                            .logo.mb-30
                                a(href='index.html')
                                    img(src='img/logo/logo.svg', alt='')
                            p.desc.mb-30.text-white
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                | dinonumy eirmod tempor invidunt.
                            ul.socials
                                li
                                    a(href='jvascript:void(0)')
                                        i.lni.lni-facebook-filled
                                li
                                    a(href='jvascript:void(0)')
                                        i.lni.lni-twitter-filled
                                li
                                    a(href='jvascript:void(0)')
                                        i.lni.lni-instagram-filled
                                li
                                    a(href='jvascript:void(0)')
                                        i.lni.lni-linkedin-original
                    .col-xl-2.col-lg-2.col-md-6
                        .footer-widget
                            h3 About Us
                            ul.links
                                li
                                    a(href='javascript:void(0)') Home
                                li
                                    a(href='javascript:void(0)') Feature
                                li
                                    a(href='javascript:void(0)') About
                                li
                                    a(href='javascript:void(0)') Testimonials
                    .col-xl-3.col-lg-3.col-md-6
                        .footer-widget
                            h3 Features
                            ul.links
                                li
                                    a(href='javascript:void(0)') How it works
                                li
                                    a(href='javascript:void(0)') Privacy policy
                                li
                                    a(href='javascript:void(0)') Terms of service
                                li
                                    a(href='javascript:void(0)') Refund policy
                    .col-xl-3.col-lg-3.col-md-6
                        .footer-widget
                            h3 Other Products
                            ul.links
                                li
                                    a(href='jvascript:void(0)') Accounting Software
                                li
                                    a(href='jvascript:void(0)') Billing Software
                                li
                                    a(href='jvascript:void(0)') Booking System
                                li
                                    a(href='jvascript:void(0)') Tracking System
    // ======== footer end ========
    // ======== scroll-top ========
    a.scroll-top.btn-hover(href='#')
        i.lni.lni-chevron-up
    // ======== JS here ========
    script(src='js/bootstrap.bundle.min.js')
    script(src='js/tiny-slider.js')
    script(src='js/wow.min.js')
    script(src='js/main.js')