head
    meta(charset='utf-8')
    title #{name} &middot; #{title}
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='keywords')
    meta(content='', name='description')

    // Favicon
    link(href='img/logo.webp', rel='icon')

    // Google Fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap', rel='stylesheet')

    // Icons
    script(src='https://kit.fontawesome.com/477541b8bd.js', crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')

    // Libraries
    link(href='lib/animate/animate.min.css', rel='stylesheet')

    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')

    // Stylesheet
    link(href='css/style.css', rel='stylesheet')