nav.navbar.navbar-expand-lg.navbar-dark.py-lg-0.px-lg-5.wow
    a.navbar-brand.ms-4.ms-lg-0(href='/')
        h1.display-5.text-light.m-0 #{name}
    button.navbar-toggler.me-4(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse')
        span.text-light.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse.navbar-dark
        .navbar-nav.ms-auto.p-4.p-lg-0
            a.nav-item.nav-link.active(href='/') Home
            a.nav-item.nav-link(href='javascript:void(0);') Über
            a.nav-item.nav-link(href='javascript:void(0);') Vorteile
            a.nav-item.nav-link(href='javascript:void(0);') Funktionen
            a.nav-item.nav-link(href='javascript:void(0);') Team
            a.nav-item.nav-link(href='javascript:void(0);') Befehle
            a.nav-item.nav-link(href='javascript:void(0);') Dashboard
            .nav-item.dropdown
                a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown') Weiteres
                .dropdown-menu.border-light.m-0
                    a.dropdown-item(href='javascript:void(0);') Voten
                    a.dropdown-item(href='javascript:void(0);') Kontakt
                    a.dropdown-item(href='javascript:void(0);') Nutzungsbedingungen
                    a.dropdown-item(href='javascript:void(0);') Bot-Datenschutz
                    a.dropdown-item(href='javascript:void(0);') Datenschutz
                    a.dropdown-item(href='javascript:void(0);') Impressum
        .d-none.d-lg-flex.ms-2
            a.btn.btn-light.btn-sm-square.rounded-circle.ms-3(href='javascript:void(0);')
                small.fa-brands.fa-discord.text-primary
            a.btn.btn-light.btn-sm-square.rounded-circle.ms-3(href='javascript:void(0);')
                small.fa-brands.fa-x-twitter.text-primary
            a.btn.btn-light.btn-sm-square.rounded-circle.ms-3(href='javascript:void(0);')
                small.fa-brands.fa-instagram.text-primary