.preloader
    .loader
        .spinner
            .spinner-container
                .spinner-rotator
                    .spinner-left
                        .spinner-circle
                    .spinner-right
                        .spinner-circle