.top-bar.row.gx-0.align-items-center.d-none.d-lg-flex
    .col-lg-6.px-5.text-start.text-light
        small
            i.fa.fa-map-marker-alt.text-primary.me-2
            | Koppoldstr. 1, 86551 Aichach
    .col-lg-6.px-5.text-end.text-light
        small
            i.fa.fa-envelope.text-primary.me-2
            | hello@nevar.eu
        small.ms-4
            i.fa.fa-phone-alt.text-primary.me-2
            | +49 (0) 160 4166284